.loginTop{
    padding: 5px;
    margin-top: 25%;
}
.user{
    margin: 0 auto;
    display: block;
    width: 32%;
}
h3{
    padding: 2% 0 0%;
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
}
.loginBox{
    padding: 10%;
}
.loginBox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #7c7c7c;
    outline: none;
    height: 36px;
    color: #262626;
    background: transparent;
    font-size: 12px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 13px;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus
{
    border-bottom: 1px solid black;
}
.inputBox{
    position: relative;
}
.inputBox span{
    position: absolute;
    top: 10px;
    color: black;
}
.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 15px;
    font-weight: inherit;
    background: black;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 8%;
    margin-bottom: 3%;
}
.loginBox h3{
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #7c7c7c;
    padding: 0px 0 5%;
    margin: 0 auto;
}
.loginBox h4{
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #7c7c7c;
    margin-bottom: 2%;
    display: inline;
}
.loginBox a{
    color: #7c7c7c;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: inline;
}

.inp_chk {
    display: block;
}
.inp_chk .inp_radio {
    width: 14px;
    height: 14px;
    border: 0;
    margin-bottom: 5%;
}
.inp_chk .lab_g {
    display: inline-block;
    color: #7c7c7c;
    font-size: 11px;
    margin-left: -7%;
    margin-top: 0;
}
.inp_chk .ico_check {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2.5px 0px 0 0;
    background-position: -60px 0;
    color: #333;
}
.inp_chk .txt_lab {
    vertical-align: top;
}


