.mycouponListDiv{
    width:31.059%;
    height:120px;
    padding: 1%;
    border-bottom:1px solid #7d7d7d;
    border-right: 1px solid #7d7d7d;
    float: left;
}

.mycouponTop{
    vertical-align: text-top;
    height: 8%;
    text-align: right;
    font-size: 5px;
    margin-top: 0px;
}

.mycouponImgDiv{
    width: 56%;
    height: 52%;
    text-align: center;
    justify-content: center;
    margin: 1px auto 1px auto;
}

.mycouponImgDiv img{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px auto;
}

.mycouponPlus{
    text-align: center;
    padding-top: 25%;
}

.mycouponPlus img{
    width: 50%;
    height: 45%;
    text-align: center;
}

.mycouponContentDiv{
    width:100%;
    height:37%;
    padding-top:7px;
    text-align: center;
}

.mycouponContentDiv p{
    margin:0;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

.mystoreNameDiv{
    width:100%;
    text-align: center;
}

.mystoreNameDiv p{
    font-size:10px;
    color:#7c7c7c;
    text-align: center;
}

.mystoreName{
    height:10px;
}

.mycouponBottomDiv{
    width:100%;
    margin-top: 4px;
}

.mycouponContent{
    font-size:10px;
    text-align: center;
}
